.footer{
    border-top: 2px solid black;
    text-align: center !important;
    color: black !important;
    padding: 5px;
    position: fixed;
    left: 0;
    bottom: 0;
    height: 60px;
    font-size: 2rem;
    width: 100%;
    font-style:bolder;
    background-color: #d8d8d8;
};
a{
    color:black;
}
a:link{
    color:black;
}
a:visited{
    color:black;
}
a:hover{
    color:black;
}

.phantom{
    display: block;
    padding: 20px;
    height: 60px;
    width: 100%;
  }






